@import '~ngx-canaima/assets/stylesheet/_mixins.scss';

@mixin badge($class,$bg,$color){
	.badge-#{$class} {
	  background-color: $bg;
	  color: $color;
	  /*&:focus {
		background-color: $bg;
	  }*/
  
	  &:hover,
	  &:active:hover {
		color: darken($color, 6%) !important;
		background-color: darken($bg, 6%);
	  }
  
	  @include ripple($color);
	}
  }

